# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

#Exclude Personal, Research, and Template folders
Personal/*
Research/*
Templates/*

#Exclude Daily notes folder
Daily*Notes/

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
